<% if(entityWithMedidas){ %>
<div ng-if="vm.<%= estadoEntityCammelCase %>.id && !vm.isFinalizedEntity()" class="entity-actions" >
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-success pull-left" ui-sref="<%= estadoSlug %>.new">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="col-xs-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Cambiar a kilómetro
                <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                  <li ng-repeat="estado in vm.allEstados"><a ui-sref="<%= estadoSlug %>.edit({id_<%= estadoEntitySnakeCase %>: estado.id})">Kilómetro {{estado.kilometro}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } %>
        <!--
        <div class="form-group" ng-show="vm.<%= estadoEntityCammelCase %>.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.<%= estadoEntityCammelCase %>.id" readonly />
        </div>
        -->

        <h4>Información del estado: <span ng-if="!vm.isFinalizedEntity()" class="label label-success">{{vm.getStateStatusLabel()}}</span></h4>
        <div class="entity-section-form-group">
            <div class="row">
                
                <div class="form-group col-xs-3"
                    ng-class="{'has-error':editForm.kilometro.$invalid}">
                    <label class="control-label" for="field_kilometro">Kilómetro</label>
                    <input required type="number" class="form-control" name="kilometro" id="field_kilometro"
                    ng-model="vm.<%= estadoEntityCammelCase %>.kilometro"
                    max-km="" />

                    <div ng-show="editForm.kilometro.$invalid">
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.required">
                            Este campo es obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.min" translate-value-min="0">
                            Este campo no debe ser menor a 0
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.max">
                            Este campo no debe ser mayor a <max-km></max-km>.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.number">
                            Este campo es numérico
                        </p>
                        <p class="help-block"
                            ng-show="editForm.kilometro.$error.kilometroTramoInvalid">
                            Valores por fuera del tramo comprendido de  {{vm.getTramo().origen}}
                            - {{vm.getTramo().destino}}.
                        </p>
                    </div>
                </div>
                <!-- SICC:TODO Importante, aqui modificar el markup para los campos propios de los estados-->
                <div class="form-group col-xs-3 col-xs-offset-6">
                    <label class="control-label" for="field_cumple">¿Ha cumplido?</label>
                    <indicador-cumple cumple="vm.<%= estadoEntityCammelCase %>.cumple"></indicador-cumple>   
                </div>
            </div>
            <div class="row" >
                <div class="form-group col-xs-12" ng-class="{'col-xs-6':vm.isFinalizedEntity()}" ng-if="!vm.isEstadoInVerification() || vm.isFinalizedEntity()">
                    <label class="control-label" for="field_observacionesInspeccion">Observaciones inspección:</label>
                    <textarea class="form-control" rows="3" name="observacionesInspeccion" 
                        id="field_observacionesInspeccion" ng-model="vm.<%= estadoEntityCammelCase %>.observacionesInspeccion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesInspeccion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesInspeccion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group col-xs-12" ng-class="{'col-xs-6':vm.isFinalizedEntity()}" ng-if="vm.isEstadoInVerification()  || vm.isFinalizedEntity()">
                    <label class="control-label" for="field_observacionesVerificacion">Observaciones verificación:</label>
                    <textarea class="form-control" rows="3" name="observacionesVerificacion" 
                        id="field_observacionesVerificacion" ng-model="vm.<%= estadoEntityCammelCase %>.observacionesVerificacion" ng-maxlength="400" ></textarea>
                    <div ng-show="editForm.observacionesVerificacion.$invalid">
                        <p class="help-block"
                            ng-show="editForm.observacionesVerificacion.$error.maxlength">
                            Este campo no puede tener más de 400 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.isEstadoInVerification()">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-entity-message">
                        Se requiere la <strong>fecha de verificación</strong> en el panel principal <a ui-sref="<%= inspeccionSlug %>.edit"><strong>(Información de la inspección)</strong></a>, de lo contrario, se calculará el cumplimiento basado en la fecha y hora del sistema
                        }
                    </div>
                </div>
            </div>
            <!-- SICC:TODO Revisar si el estado tiene adjuntos, de lo contrario quitar este bloque-->
            <div class="row" ng-if="vm.<%= estadoEntityCammelCase %>.id">
                <div class="col-sm-6 col-md-offset-6">
                    <button type="button" class="btn btn-primary btn-block" ui-sref="archivo-<%= inspeccionSlug %>({id_<%= estadoEntitySnakeCase %>: vm.<%= estadoEntityCammelCase %>.id})">
                        <span>
                            Evidencia 
                            &nbsp
                        </span>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </div>
            </div>
        </div>
        <% if(entityWithMedidas){ %><div uib-alert ng-if="vm.<%= estadoEntityCammelCase %>.id" class="alert-entity-message" type="info">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;<span> Recuerde tambien guardar las medidas, estas son requeridas para finalizar.</span>
        </div><% } %>
        <!--<div class="form-group">
            <label class="control-label" for="field_cumple">Cumple</label>
            <input type="checkbox" class="form-control" name="cumple" id="field_cumple"
                    ng-model="vm.<%= estadoEntityCammelCase %>.cumple"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estado">Estado</label>
            <input type="text" class= "form-control" name="estado" id="field_estado"
                    ng-model="vm.<%= estadoEntityCammelCase %>.estado"
                    ng-maxlength="10" />
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>

        <div class="form-group">-->
            <!-- SICC:TODO Verificar en nombre del campo estadoDeInspeccionXXX en el html-->
            <!--<label for="field_estadoDeInspeccion">Estado De Inspeccion</label>
            <select class="form-control" id="field_estadoDeInspeccion" name="estadoDeInspeccion" ng-model="vm.<%= estadoEntityCammelCase %>.estadoDeInspeccion" ng-options="<%= inspeccionEntityCammelCase %> as <%= inspeccionEntityCammelCase %>.id for <%= inspeccionEntityCammelCase %> in vm.inspecciones track by <%= inspeccionEntityCammelCase %>.id">
                <option value=""></option>
            </select>
        </div>-->