<!-- <jhi-alert-error></jhi-alert-error>
<div>
    <div class="col-xs-12 text-center confirmation-header" ng-show="vm.checkState()">
        <p><span class="glyphicon glyphicon glyphicon-ban-circle confirmation-header__icon"></span></p>
        <h4>¡No se puede editar el registro! Ya ha sido finalizado.</h4>
    </div> 
    <div class="row" ng-show="!vm.checkState()">
        <div class="col-xs-12 text-center confirmation-header">
            <p><span class="glyphicon glyphicon-question-sign confirmation-header__icon"></span></p>
            <h4>¿Está seguro que desea finalizar este registro?</h4>
        </div> -->

        <div class="col-xs-12 summary-section">
                <div class="col-xs-12 col-sm-6 text-center summary-section__info">
                    <dt><span>Kilómetro + abscisa</span></dt>
                        <dd>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.kilometro}} + {{vm.<%= estadoEntityCammelCase %>.abscisa}}</span>
                        </dd>
                </div>
                <!-- SICC:TODO Agregar los campos propios del estado de la inspeccion que se muestran en la vista de confirmacion, (abajo esta un ejemplo de markup)
                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="vm.isForStateInspection()">
                    <dt><span>Costado inspección</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.costadoInspeccion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.costadoInspeccion}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="!vm.isForStateInspection()">
                    <dt><span>Costado verificación</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.costadoVerificacion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.costadoVerificacion}}</span>
                        </dd>
                </div>

                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="vm.isForStateInspection()">
                    <dt><span>Severidad inspección</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.severidadInspeccion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.severidadInspeccion}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="!vm.isForStateInspection()">
                    <dt><span>Severidad verificación</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.severidadVerificacion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.severidadVerificacion}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="vm.isForStateInspection()">
                    <dt><span>Cantidad inspección</span></dt>
                        <dd>
                            <span ng-show="vm.<%= estadoEntityCammelCase %>.cantidadInspeccion === '' ">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.cantidadInspeccion}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-6 text-center summary-section__info" ng-show="!vm.isForStateInspection()">
                    <dt><span>Cantidad verificación</span></dt>
                        <dd>
                            <span ng-show="vm.<%= estadoEntityCammelCase %>.cantidadVerificacion === '' ">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.cantidadVerificacion}}</span>
                        </dd>
                </div>
                -->

                <div class="col-xs-12 col-sm-12 text-center summary-section__info" ng-show="vm.isForStateInspection()">
                    <dt><span>Observaciones Inspección</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.observacionesInspeccion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.observacionesInspeccion}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-12 text-center summary-section__info" ng-show="!vm.isForStateInspection()">
                    <dt><span>Observaciones Verificación</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.observacionesVerificacion">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.observacionesVerificacion}}</span>
                        </dd>
                </div>

                <div class="col-xs-12 col-sm-6 text-center summary-section__info">
                    <dt><span>Estado</span></dt>
                        <dd>
                            <span ng-show="!vm.<%= estadoEntityCammelCase %>.estado">N/A</span>
                            <span class="summary-section__text">{{vm.<%= estadoEntityCammelCase %>.estado}}</span>
                        </dd>
                </div>
                <div class="col-xs-12 col-sm-6 text-center summary-section__info">
                    <dt><span>¿Ha cumplido?</span></dt>
                        <dd>
                            <indicador-cumple cumple="vm.<%= estadoEntityCammelCase %>.cumple"></indicador-cumple>
                        </dd>
                </div>
        </div>
   <!--  </div>

    <div class="entity-actions">
        <button class="btn btn-info" type="button" ui-sref="<%= estadoSlug %>.edit({id_<%= estadoEntitySnakeCase %>: vm.entityID})">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Volver</span>
        </button>
        <button ng-click="vm.finalizeAndClose()"  ng-disabled="!vm.entityID || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Confirmar</span>
        </button>
    </div>

</div>

 -->
